@import "tailwindcss";
@font-face {
    font-family:pricedown ;
    src: url('./pricedown.otf');
}

html,body{
    width: 100%;
    height: 100%;
}

.navbar{
    font-family: 'pricedown';
}

.textarea{
    font-family: 'pricedown';
}
.rimage{
    font-family: 'pricedown';
}